body {
  margin: 0px;
}

//added this to ensure card images fit to card

.categoryPage,
.suggestorPage,
.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-top: 1em;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0.2em;
  }
  h2 {
    font-size: 1.5rem;
  }
  .timePicker {
    margin: 2em;
  }
  .categoryButton {
    margin: 0.5em;
  }
}

.time-picker-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;

  input {
    width: 2.3rem;
    padding: 0.2rem;
    font-size: 1.5rem;
  }
}

.pulse-button {
  display: block;
  width: 100px;
  height: 100px;
  font-size: 1.3em;
  font-weight: light;
  font-family: 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  letter-spacing: -1px;
  color: white;
  border: none;
  border-radius: 50%;
  background: #e91e63;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(233, 30, 99, 0.5);
  animation: none;
  -webkit-animation: none;
}

.listening {
  -webkit-animation: pulse 1.5s infinite;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}
