body {
  margin: 0px;
}

.categoryPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-top: 1em;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0.2em;
  }
  h2 {
    font-size: 1.5rem;
  }
  .timePicker {
    margin: 2em;;
  }
  .categoryButton {
    margin: 0.5em;
  }
}


.time-picker-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;

  input {
    width: 2.3rem;
    padding: 0.2rem;
    font-size: 1.5rem;
  }
}